<footer class="footer">
  <div class="footer__logo-box"><img src="../../assets/img/logo-green-2x.png" alt="full logo" class="footer__logo" /></div>
  <div class="row">
    <div class="col-1-of-2">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Contact Us</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Carrers</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Privacy Policy</a></li>
          <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <p class="footer__copyright">
        Built by <a href="#" class="footer__link">Lorem Ipsum</a> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique fuga dolorum explicabo possimus illum ut
        fugiat, obcaecati placeat esse quod consectetur quibusdam ducimus odit ipsam iure recusandae temporibus laudantium ullam?
      </p>
    </div>
  </div>
</footer>
