<div class="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="../../assets/img/nat-8.jpg" class="popup__img" alt="Tour Photo" />
      <img src="../../assets/img/nat-9.jpg" class="popup__img" alt="Tour Photo" />
    </div>
    <div class="popup__right">
      <button class="popup__close" (click)="close()">&times;</button>
      <h2 class="heading-secondary u-margin-bottom-small">Start Booking Now</h2>
      <h3 class="heading-tertiary u-margin-bottom-small">Please read these terms before booking</h3>
      <p class="popup__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus odio fugiat excepturi repudiandae, iste facere! Pariatur nulla error ullam
        amet, molestiae a velit necessitatibus ipsam laboriosam qui dignissimos hic aspernatur? Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Inventore, dolorem. Corporis praesentium a rem rerum suscipit ab, molestiae animi eligendi? Suscipit nobis impedit cupiditate voluptates
        libero alias necessitatibus qui quis.
      </p>
      <a href="#" class="btn btn--green">Book Now &rarr;</a>
    </div>
  </div>
</div>
