@import '../../assets/sass/main';
.section-about {
  background-color: $color-grey-light1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.heading-secondary {
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
  &:hover {
    transform: skewY(2deg) skewX(5deg) scale(1.1);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}
.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
