<section class="stories">
  <div class="u-center-text u-margin-bottom-big"><h2 class="heading-secondary">We make people genuinely happy</h2></div>
  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="../../assets/img/nat-8.jpg" alt="person on a tour" class="story__image" />
        <figcaption class="story__caption">Jane Doe</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">I had the best week with my family</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente id accusantium explicabo quo vero rem voluptatem quis, repellendus iusto
          eius! Quod, labore quae sunt error repellendus animi hic ullam impedit?
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="story">
      <figure class="story__shape">
        <img src="../../assets/img/nat-9.jpg" alt="person on a tour" class="story__image" />
        <figcaption class="story__caption">John Doe</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="heading-tertiary u-margin-bottom-small">This trip changed my life</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi ullam harum ab perspiciatis! Et, itaque voluptate at repudiandae ea quisquam
          blanditiis facere in ducimus distinctio possimus tempora animi maiores consectetur.
        </p>
      </div>
    </div>
  </div>
  <div class="u-center-text u-margin-bottom-top-huge"><a href="#" class="btn-text">Read all stories &rarr;</a></div>
</section>
