<!-- <app-navigation></app-navigation>
<app-header></app-header>
<main>
  <app-about></app-about>
  <app-features></app-features>
  <app-tours></app-tours>
  <app-stories></app-stories>
  <app-booking></app-booking>
</main>

<app-footer></app-footer>
<router-outlet></router-outlet> -->

<cdk-virtual-scroll-viewport itemSize="1">
  <ng-container *cdkVirtualFor="let component of components; let i = index">
    <ng-container *ngComponentOutlet="component"></ng-container>
  </ng-container>
</cdk-virtual-scroll-viewport>
