<app-navigation></app-navigation>
<app-header id="01"></app-header>
<main>
  <app-about></app-about>
  <app-features></app-features>
  <app-tours></app-tours>
  <app-stories></app-stories>
  <app-booking id="05"></app-booking>
</main>

<app-footer></app-footer>

<!-- <cdk-virtual-scroll-viewport itemSize="400">    
  <ng-container *cdkVirtualFor="let component of components; let i = index">
    <ng-container *ngComponentOutlet="component"></ng-container>
  </ng-container>
</cdk-virtual-scroll-viewport> -->
